<?xml version="1.0"?>
<config>
    <modules>
        <MagentoTeam_CloudZoom>
            <version>1.1.2</version>
        </MagentoTeam_CloudZoom>
    </modules>
	<global>
		<models>
		    <magentoteam_cloudzoom>
		        <class>MagentoTeam_CloudZoom_Model</class>
		    </magentoteam_cloudzoom>
		</models>
		<blocks>
            <magentoteam_cloudzoom>
                <class>MagentoTeam_CloudZoom_Block</class>
            </magentoteam_cloudzoom>
        </blocks>
	</global>
	<frontend>
        <layout>
            <updates>
                <magentoteam_cloudzoom module="magentoteam_cloudzoom">
                    <file>magentoteam-cloudzoom.xml</file>
                </magentoteam_cloudzoom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <magentoteam_cloudzoom/>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
    	</acl>
    </adminhtml>
    <default>
    	<magentoteam_cloudzoom>
	    	<general>
	    		<enable>1</enable>
	    		<position>right</position>
	    		<show_title>1</show_title>
	    		<title_opacity>50</title_opacity>
	    		<lens_opacity>50</lens_opacity>
	    		<tint_color></tint_color>
	    		<tint_opacity>50</tint_opacity>
	    		<big_image_width>800</big_image_width>
	    		<big_image_height>800</big_image_height>
	    	</general>
    	</magentoteam_cloudzoom>
    </default>
</config>